/*========================================================
                Fonts
=========================================================*/
@font-face {
  font-family: 'Barlow-Black';
  src: url('../fonts/Barlow-Black/Barlow-Black.eot');
  src: local('вє'), url('../fonts/Barlow-Black/Barlow-Black.woff') format('woff'),
    url('../fonts/Barlow-Black/Barlow-Black.ttf') format('truetype'),
    url('../fonts/Barlow-Black/Barlow-Black.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow-Bold';
  src: url('../fonts/Barlow-Bold/Barlow-Bold.eot');
  src: local('вє'), url('../fonts/Barlow-Bold/Barlow-Bold.woff') format('woff'),
    url('../fonts/Barlow-Bold/Barlow-Bold.ttf') format('truetype'),
    url('../fonts/Barlow-Bold/Barlow-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow-Medium';
  src: url('../fonts/Barlow-Medium/Barlow-Medium.eot');
  src: local('вє'), url('../fonts/Barlow-Medium/Barlow-Medium.woff') format('woff'),
    url('../fonts/Barlow-Medium/Barlow-Medium.ttf') format('truetype'),
    url('../fonts/Barlow-Medium/Barlow-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow-Regular';
  src: url('../fonts/Barlow-Regular/Barlow-Regular.eot');
  src: local('вє'), url('../fonts/Barlow-Regular/Barlow-Regular.woff') format('woff'),
    url('../fonts/Barlow-Regular/Barlow-Regular.ttf') format('truetype'),
    url('../fonts/Barlow-Regular/Barlow-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow-SemiBold';
  src: url('../fonts/Barlow-SemiBold/Barlow-SemiBold.eot');
  src: local('вє'), url('../fonts/Barlow-SemiBold/Barlow-SemiBold.woff') format('woff'),
    url('../fonts/Barlow-SemiBold/Barlow-SemiBold.ttf') format('truetype'),
    url('../fonts/Barlow-SemiBold/Barlow-SemiBold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}

/*========================================================
				RESET
=========================================================*/

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
abbr,
address,
em,
img,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
legend,
caption,
article,
aside,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

*:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*========================================================
	            CONTENT
=========================================================*/
.bodyFrame {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 75px;
}

@media only screen and (max-width: 1760px) {
  .container {
    padding: 0 65px;
  }
}

@media only screen and (max-width: 1500px) {
  .container {
    padding: 0 55px;
  }
}

@media only screen and (max-width: 1300px) {
  .container {
    padding: 0 45px;
  }
}

@media only screen and (max-width: 1023px) {
  .container {
    padding: 0 30px;
  }
}

/*========================================================
                Reusing Styles
=========================================================*/
/* section {
  padding-bottom: 85px;
} */

h1 {
  color: #f7cc18;
}

h1,
h2,
h3,
a,
li,
button {
  text-transform: uppercase;
}

.imgLogo {
  width: 460px;
}

.imgIcon {
  width: 70px;
  margin-right: 20px;
}

.addressList {
  display: flex;
  align-items: center;
}

.addressList li {
  display: flex;
  align-items: center;
  font-family: "Barlow-SemiBold";
  font-size: 35px;
}

.addressList li:not(:last-child) {
  margin-right: 35px;
}

.addressList li a {
  display: flex;
  align-items: center;
  font-family: "Barlow-SemiBold";
  font-size: 35px;
}

.title h2 {
  padding-top: 85px;
  margin-bottom: 60px;
  text-align: center;
  font-family: "Barlow-Black";
  font-size: 60px;
}

.title h2 span {
  color: #f7cc18;
}

@media only screen and (max-width: 1760px) {
  .imgLogo {
    width: 390px;
  }

  .imgIcon {
    width: 64px;
  }

  .addressList li {

    font-size: 30px;
  }

  .addressList li a {

    font-size: 30px;
  }



}


@media only screen and (max-width: 1500px) {
  .imgLogo {
    width: 300px;
  }

  .imgIcon {
    width: 45px;
  }

  .addressList li {

    font-size: 25px;
  }

  .addressList li a {

    font-size: 25px;
  }

  .title h2 {
    padding-top: 70px;
    margin-bottom: 50px;
    font-size: 50px;
  }
}

@media only screen and (max-width: 1023px) {
  .imgLogo {
    width: 200px;
  }

  .imgIcon {
    width: 30px;
  }

  .addressList li:not(:last-child) {
    margin-right: 35px;
  }

  .addressList li {

    font-size: 20px;
  }

  .addressList li a {

    font-size: 20px;
  }

  .title h2 {
    padding-top: 60px;
    margin-bottom: 35px;
    font-size: 40px;
  }

}

@media only screen and (max-width: 767px) {
  .title h2 {
    padding-top: 70px;
    margin-bottom: 50px;
    font-size: 50px;
  }
}


/*========================================================
	            Header
=========================================================*/
header {
  padding: 40px 0;
  /* position: fixed; */
  background-color: #fff;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lastItem {
  font-size: 25px;
}

@media only screen and (max-width: 1500px) {
  header {
    padding: 20px 0;
  }
}

@media only screen and (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .headerMenu {
    padding: 30px 20px 10px;
    display: block;
    text-align: center;
    position: fixed;
    top: 75px;
    left: -100%;
    width: 15.9375em;
    height: 100%;
    transition: all 0.3s ease 0s;
    font-family: "Barlow-SemiBold";
    font-size: 20px;
    z-index: 2;
    background-color: #fff;

  }

  .headerMenu.active {
    left: 0;
    overflow-y: auto;
    margin: 0 auto;
  }

  .mobile {
    display: block;
  }

  .mobile li {
    margin: 0 auto 25px;

  }

  .mobile li {
    text-align: center;
    margin: 0 auto 25px;
    font-size: 20px;

  }

  .mobile li a {
    font-size: 20px;
  }

}

/*========================================================
	            Menu Burger
=========================================================*/
.burger {
  display: none;
}

.mobileNav {
  display: none;
}

@media only screen and (max-width: 767px) {
  .mobileNav {
    display: block;
  }

  .mobileNav ul li:not(:last-child) {
    margin-bottom: 25px;
  }

  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .burger span {
    position: absolute;
    background-color: #f7cc18;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .burger:before,
  .burger:after {
    content: '';
    background-color: #f7cc18;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .burger:before {
    top: 0;
  }

  .burger:after {
    bottom: 0;
  }

  .burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .burger.active span {
    transform: scale(0);
  }

}


/*========================================================
	            Section Banner
=========================================================*/
.bunTop {
  padding-bottom: 0;
  display: flex;
  align-items: center;
  height: 800px;
  background-image: url('../images/banner-top.jpg');
  background-size: cover;
  top: 0;
  right: 0;
  background-position: top right, center;
}

.mainText {
  position: absolute;
  z-index: 1;
}

.mainText h1 {
  font-family: "Barlow-Bold";
  font-size: 82px;
}

@media only screen and (max-width: 1760px) {
  .bunTop {
    height: 650px;
  }

  .mainText h1 {
    font-size: 76px;
  }
}

@media only screen and (max-width: 1500px) {
  .bunTop {
    height: 500px;
  }

  .mainText h1 {
    font-size: 65px;
  }
}

@media only screen and (max-width: 1023px) {
  .bunTop {
    height: 450px;
  }

  .mainText h1 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 767px) {

  .bunTop {
    height: 350px;
  }

  .mainText h1 {
    font-size: 30px;
  }
}

/*========================================================
	            Navigation
=========================================================*/
.wrapNav {
  padding-bottom: 0;
  background-color: #f7cc18;
}

.navigation ul {
  display: flex;
}

.navigation ul li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 15px;
  font-family: "Barlow-Bold";
  font-size: 23.4px;
  text-align: center;
  color: black;
}

.icorArrow {
  display: none;
  position: absolute;
  bottom: 5%;
  width: 20px;
}

.navigation ul li:hover {
  background-color: black;
  color: #fff;
}

.navigation ul li:hover .icorArrow {
  display: block;
}

@media only screen and (max-width: 1760px) {
  .navigation ul li {
    font-size: 21.4px;
  }
}

@media only screen and (max-width: 1500px) {
  .navigation ul li {
    padding: 30px 15px;
    font-size: 17.9px;
  }
}

@media only screen and (max-width: 1280px) {
  .navigation ul li {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1023px) {
  .navigation ul li {
    padding: 20px 15px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .navigation ul {
    display: block;
  }

  .navigation ul li {
    font-size: 15px;
  }

  .icorArrow {
    width: 15px;
  }
}

/*========================================================
	            Products
=========================================================*/

.products {
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  margin-left: -30px;
  margin-top: -30px;

}

.product {
  flex-basis: calc(100% / 4 - 30px);
  height: 435px;
  position: relative;
  border: solid 1px #adadad;
  padding: 20px;
  margin-left: 30px;
  margin-top: 30px;


}

.product .photoProduct {
  width: 250px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgLineProduct {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}


.infoProduct a h3 {
  display: block;
  font-family: "Barlow-Bold";
  font-size: 19px;
  text-align: center;
  margin-top: 20px;

}

.click {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "Barlow-Bold";
  font-size: 28px;
  padding: 10px 20px;
}

.infoPrice button {
  position: absolute;
  border: none;
  background-color: #edbf00;
  bottom: 0;
  right: 0;
  margin-left: auto;
  font-family: "Barlow-Bold";
  font-size: 25px;
  padding: 10px 15px;
}

.infoPrice button:focus {
  background-color: red;
  color: #fff;
}

.infoPrice button:focus .click {
  color: red;
}

.product:hover {
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  border: none;
  cursor: pointer;
}

.product:hover a {
  color: #575757;
  text-decoration: revert;
}

@media only screen and (max-width: 1500px) {
  .product {
    flex-basis: calc(100% / 3 - 30px);
  }

  .product .photoProduct {
    width: 300px;

  }

  .imgLineProduct {
    width: 260px;
  }

  .infoProduct a h3 {
    font-size: 21px;

  }

  .infoPrice span {

    font-size: 30px;
  }

  .infoPrice button {

    font-size: 28px;
  }
}

@media only screen and (max-width: 1180px) {
  .products {
    margin-left: -60px;
    margin-top: -60px;
  }

  .product {
    flex-basis: calc(100% / 2 - 60px);
    margin-left: 60px;
    margin-top: 60px;
  }


}

@media only screen and (max-width: 803px) {
  .products {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }

  .product:not(:last-child) {
    margin-bottom: 60px;
  }

  .product .photoProduct {
    width: 200px;
  }

  .imgLineProduct {
    width: 180px;
  }
}

/*========================================================
	            Our Servise
=========================================================*/
.wrapServise {
  display: flex;
  background-color: #fcf9ea;
}

.faqContent {
  width: 50%;

}

.faqContent div {
  max-width: 639px;
}

.first,
.thirt {
  padding-left: 75px;
}

.second {
  margin-left: auto;
  max-width: 715px;
  padding-right: 75px;
}

.faqImg {
  width: 50%;
}

.faqImg img {
  width: 100%;
  display: block;
}

.wrapServise .mobile {
  display: none;
}

.faqContent h3 {
  display: inline-block;
  padding-left: 20px;
  margin: 55px 0 45px 0;
  border-left: 7px solid #edbf00;
  font-family: "Barlow-Bold";
  font-size: 48px;
}

.infoContent {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.infoContent img {
  width: 70px;
}

.infoContent div {
  margin-left: 20px;
}

.infoContent div h4 {
  font-family: "Barlow-Bold";
  font-size: 40px;
  margin-bottom: 13px;
}

.infoContent div p {
  font-family: "Barlow-Medium";
  font-size: 20px;

}

.faqContent a {
  display: table;
  margin-left: auto;
  padding: 10px 29px;
  font-family: "Barlow-Bold";
  font-size: 25px;
  text-transform: none;
  border: 2px solid black;
}

@media only screen and (min-width: 1701px) and (max-width: 1800px) {
  .faqContent div {
    max-width: 573px;
  }

  .first,
  .thirt {
    padding-left: 65px;
  }

  .second {
    max-width: 639px;
    padding-right: 65px;
  }

  .faqContent h3 {
    margin: 45px 0 40px 0;
    font-size: 43px;
    border-left: 5px solid #edbf00;
  }

  .infoContent {
    margin-bottom: 35px;
  }

  .infoContent img {
    width: 60px;
  }

  .infoContent div {
    margin-left: 20px;
  }

  .infoContent div h4 {
    font-size: 28px;
  }

  .infoContent div p {
    font-size: 18px;

  }

  .faqContent a {
    padding: 7px 20px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 1501px)and (max-width: 1700px) {
  .faqContent div {
    max-width: 573px;
  }

  .first,
  .thirt {
    padding-left: 65px;
  }

  .second {
    max-width: 639px;
    padding-right: 65px;
  }

  .faqContent h3 {
    margin: 45px 0 40px 0;
    font-size: 43px;
  }

  .infoContent {
    margin-bottom: 35px;
  }

  .infoContent img {
    width: 60px;
  }

  .infoContent div {
    margin-left: 20px;
  }

  .infoContent div h4 {
    font-size: 28px;
  }

  .infoContent div p {
    font-size: 18px;

  }

  .faqContent a {
    padding: 7px 20px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  .faqContent div {
    max-width: 485px;
  }

  .first,
  .thirt {
    padding-left: 65px;
  }

  .second {
    max-width: 550px;
    padding-right: 65px;
  }

  .faqContent h3 {
    margin: 35px 0 30px 0;
    font-size: 33px;
  }

  .infoContent {
    margin-bottom: 20px;
  }

  .infoContent img {
    width: 50px;
  }

  .infoContent div {
    margin-left: 20px;
  }

  .infoContent div h4 {
    font-size: 25px;
  }

  .infoContent div p {
    font-size: 15px;

  }

  .faqContent a {
    padding: 5px 15px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 1199px) {
  .wrapServise {
    display: block;
  }

  .faqContent {
    width: 100%;
  }

  .faqContent div,
  .second {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }

  .faqImg {
    width: 100%;
  }

  .wrapServise .dNone {
    display: none;
  }

  .wrapServise .mobile {
    display: block;
  }
}

/*========================================================
	            Section Guarantee
=========================================================*/
.guarantee {
  text-align: center;
}

.guarantee h3 {
  font-family: "Barlow-Regular";
  font-size: 46px;
  margin-bottom: 25px;
}

.guarantee p {
  font-family: "Barlow-Regular";
  font-size: 32px;
  padding-bottom: 55px;
}

.guarantee ul {
  display: flex;
  justify-content: center;
}

.guarantee ul li:not(:last-child) {
  margin-right: 120px;
}

.imgGuarantee {
  width: 200px;
}

/*========================================================
	            Footer
=========================================================*/
footer {
  padding-top: 100px;
  background-color: black;
}

.footer {

  display: flex;
  margin-bottom: 100px;
}

.wrapLeft {
  margin-right: 420px;
}

/* .wrapLeft .imgLogo,
.addressList {
  margin-bottom: 25px;
} */

.navFooter ul li,
.wrapLeft p {
  padding: 5px 12px;
  color: #fff;
  font-family: "Barlow-Regular";
  font-size: 30px;
}


.navFooter ul li:hover {
  border: #f7cc18 solid 2px;
  color: #f7cc18;
}

.footerItem {
  color: #fff;
}

.navFooter ul {
  display: flex;
}

.copy {
  text-align: center;
}

.copy img {
  width: 830px;

}

.copy p {
  padding: 35px 0;
  font-family: "Barlow-Regular";
  font-size: 31px;
  color: #fff;

}